body {
    background-image: url(img/fondo\ colegio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


}


.contenedor-menu {
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
    height: 50px;
    left: 0%;
}

a {
    color: #de7e1b;
    font-size: 18px;
    padding: 3px 15px;
    font-family: Arial;
    text-decoration: none;
}

.container {
    margin: auto;
    padding: 45px;
}

h1 {
    margin-block-start: 0%;
    font-family: Helvetica;
    justify-content: center;
}
.top-imag img {
    justify-content: flex-end;
    height: 2cm;
    width: 2cm;
}
.portada img {
    width: 100%;
    height: 250px;
}
.portada {
    width: 200px;
    height: 350px;
    border-radius: 3px;
    font-size: 8px;
    text-transform:uppercase ;
    background-color: rgba(0, 0, 0, 0.925);
    margin-bottom: 12px;
}
.letras {
    margin: 4px 4px;
    padding: 0px;
    border: 1px;
}
.letras h2 {
    font-size: 12px;
    color: #de7e1b;
    font-family: sans-serif;
}
.libros {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px 0;
}

p {
    font-size: 10px;
    font-family: Helvetica;
    color: #b86411d0;
    font-weight: bolder;
}
.click {
    display: block;
    background-color: #b86411d0;
    border-radius: 5px;   
}
.tarjeta-personajes{
    width: 200px;
    height: 300px;
    border-radius: 3px;
    font-size: 8px;
    text-transform:uppercase ;
    background-color: rgba(39, 29, 29, 0.925);
    margin-bottom: 12px;
}
.letras-personajes{
    margin: 4px;
    padding: 2px;
    font-family: Georgia;
}

.letras-personajes h2 {
    color: #de7e1b
}

.menu-list{
   height: 100%;
   display: flex;
   /* overflow: hidden;  */
}

.lista-menu{
    height: 100%;
    list-style: none;
    position: relative;
    font-family: Arial;
    
}
.sub-menu{
    width: 180px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 150px;
    z-index: 9;
    list-style: none;
    position: relative;
    transition: all;
    padding: 12px 0px;
    visibility: hidden;   
}
.lista-menu:hover ul{
    transform: scale(1.1);
    background: rgba(0, 0, 0, 0.918);
    box-shadow: 0px; 
    transition: opacity 2s;
    opacity: 2;
    visibility: visible;
    box-shadow: #de7e1b;
    text-transform: uppercase;
    top: 0; 
   } 
/* menu de hechizos */
   .hechizos{
    width: 200px;
    height: 300px;
    border-radius: 3px;
    font-size: 8px;
    text-transform:uppercase ;
    background-color: rgba(39, 29, 29, 0.925);
    margin-bottom: 12px;
   }

   .letras-hechizos {
    font-family: Georgia;
    padding: 11px;
    color: #de7e1b;
   }
   /* lista escondida de orden  */
   .orden{
    width: 180px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 150px;
    z-index: 9;
    list-style: none;
    position: relative;
    transition: all;
    padding: 12px 0px;
    visibility: hidden;
   }

/* .menu-list{
height: 100%;
transition: transform;
}
.menu-casa{
    list-style: none;
  position: relative;
  height: 100%;
  /* custom property para ocultar el item */
  /* --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
  --transform: rotate(-90deg) */
/* } 
/* justify-content: center;
    flex-direction: row;
} */