body {
    background-image: url(img/fondo\ colegio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.inicio .conten-header {
    background-color: black;
    background-position: right top;
    margin-block-start: 10px;

}



.portada img {
    width: 100px;
    height: 100px;


}


#portada {

    font-family: Arial;

}

/* .inicio {

    background-color: rgba(0, 0, 0, 0.897);
    background-size: cover;
    

}
.titulo{
    justify-content: center;
}

/* .container-menu {
    box-sizing: border-box;
    height: 15px; */



/* .menu{
background-color: #6d3812c4;
height: 45%;

}

.portada img {

    width: 80px;
    height: 80px;


}

.portada h2 {
   
    font-size: medium;


}

#portada{
    justify-content: center;
    justify-items: flex-end;
} */


/* .bar_menu {
    display: flex;
    background-color: rgb(248, 240, 240);
    justify-content: flex-start;

}

.menu_options {
    justify-content: space-between;
    font-family: Arial;
    font-size: small;

}

.portada {
    
    justify-content: space-around;
    

} */